<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    {# <link rel="stylesheet" href="/static/css/main.css"> #}

    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="container">

        {# 单行注释 #}
        {% comment %}
            多行注释
        {% endcomment %}

        {% if username %}
            <h2>欢迎您：<small>{{username}}</small></h2>
            <a href="{% url 'booktest:logout' %}">退出登录</a><br>
            {# 超级链接硬编码 #}
            {#<a href="/booktest/list">进入列表页</a>#}
            {#去除硬编码#}
            <a href=" {% url 'booktest:list' %} ">进入列表页</a>
        {% else %}
            <h2>没有登录,请前往 <a href="{% url 'booktest:login' %}">登录</a></h2>
        {% endif %}

        {# <img src="/static/img/bg1.png" alt="" width="1000px"> #}
        <img src="{% static 'img/bg1.png' %}" alt="" width="1000px"><br>

    </div>

</body>
</html>