<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投票页</title>
    {# <link rel="stylesheet" href="/static/css/main.css"> #}
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="container">
        <h2>问题：{{qs.text}}</h2>
        <a href="{% url 'polls:votemanage' qid %}">投票管理</a>
        <!--{# <form action="/polls/detail/" method="post"> #}-->
        <form action="{% url 'polls:detail' %}" method="post">
            <ul>
                {# 跨站请求伪造保护，一般用在表单post请求中 #}
                {% csrf_token %}
                {% for i in qs.select_set.all %}
                <li>
                    <input type="radio" name="vote" value="{{i.id}}" required>{{i.item}}
                </li>
                {% empty %}
                    <h3>没有选项</h3>
                {% endfor %}
            </ul>
            <input type="hidden" value="{{qid}}" name="qid">
            <input type="submit" value="投票">
        </form>
        <a href="{% url 'polls:index' %}">返回</a>
    </div>

</body>
</html>